@import 'master';

.wiki-separator {
    padding: 0 2px;
    color: #999;
}

.wiki-color {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px;
}

.wiki-color > div {
    display: inline-block;
    background-image: url("/images/gui/swatch1.png"), url("/images/gui/swatch2.png");
    background-blend-mode: multiply, normal;
    width: 24px * 2;
    height: 12px * 2;
    background-size: cover;
    image-rendering: pixelated;
}

.wiki-recipe-note {
    @include gui() using ($gui-scale) {
        padding: (4px * $gui-scale) 0;
    }
}

#wiki-search {
    flex-basis: 360px;
}

.wiki-card {

}

.wiki-card-img {
    height: 170px;
    background-size: cover;
    background-position-x: center;
}

.wiki-search-image {
    min-width: 130px;
    min-height: 130px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
